<md-card class="example-card">
  <md-card-header>
    <!--<div md-card-avatar class="example-header-image"></div>-->
    <md-card-title><strong>{{article.title}}</strong></md-card-title>
    <md-card-subtitle>added by <i>{{article.author.firstname}} {{article.author.lastname}} on {{article.created_at|date:'short'}}</i></md-card-subtitle>
  </md-card-header>
  <img md-card-image src="{{ article.image }}">
  <md-card-content [innerHTML]="article.body | slice:200 | markdown">
  </md-card-content>
  <md-card-actions class="pull-right">
    <button md-raised-button color="primary" (click)="gotoDetails()">Read more...</button>
  </md-card-actions>
</md-card>